In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('data/adult.csv')

dic_race = {'Amer-Indian-Eskimo': 'White', 'Asian-Pac-Islander': 'White', 
            'Black': 'White', 'Other': 'White', 'White': 'Black'}
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [38]:
df_race = df.copy()
df_race['race'] = [dic_race[i] for i in df['race']]
df_race.to_csv("data/fairness_race.csv",index=False,sep=',')
df_race.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,Black,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,Black,Female,0,0,30,United-States,<=50K

In [39]:
df_gender = df.copy()
dic_gender = {'Female': 'Male', 'Male': 'Female'}
df_gender['gender'] = [dic_gender[i] for i in df['gender']]
df_gender.to_csv("data/fairness_gender.csv",index=False,sep=',')
df_gender.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Female,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Female,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Female,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Female,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Male,0,0,30,United-States,<=50K

In [50]:
def udf_age(i):
    if 18<=i<=29:
        return 65
    if i >= 30:
        return 25
    
df = pd.read_csv('data/bank.csv')
df['age'] = df['age'].apply(udf_age)
df.to_csv("data/fairness_age.csv",index=False,sep=',')