In [52]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', 200)

In [53]:
df = pd.read_csv('data/bank.csv')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [54]:
len(df)

49732

In [55]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [74]:
dic = {}
for col in df.columns:
    if df[col].dtypes == 'object':
        tmp_dic = dict(zip(set(df[col]), range(len(set(df[col])))))
        dic.update(tmp_dic)
print(dic)

{'self-employed': 0, 'unemployed': 1, 'services': 2, 'housemaid': 3, 'blue-collar': 4, 'technician': 5, 'unknown': 1, 'entrepreneur': 7, 'admin.': 8, 'management': 9, 'retired': 10, 'student': 11, 'married': 0, 'single': 1, 'divorced': 2, 'secondary': 0, 'tertiary': 2, 'primary': 3, 'no': 0, 'yes': 1, 'telephone': 0, 'cellular': 1, 'jul': 0, 'jun': 1, 'dec': 2, 'sep': 3, 'may': 4, 'nov': 5, 'jan': 6, 'aug': 7, 'oct': 8, 'apr': 9, 'feb': 10, 'mar': 11, 'success': 0, 'other': 2, 'failure': 3}

In [75]:
set(df['job'])

{'admin.',
 'blue-collar',
 'entrepreneur',
 'housemaid',
 'management',
 'retired',
 'self-employed',
 'services',
 'student',
 'technician',
 'unemployed',
 'unknown'}

In [61]:
len(dic)

37

In [71]:
a = {}
b = {'3':4}
a.update(b)
b = {'4': 5}
a

{'3': 4}

In [76]:
df = pd.read_csv('data/bank.csv')

In [77]:
len(df)

49732

In [78]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no