In [27]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', 200)

In [28]:
df_train = pd.read_csv('/Users/yinghua.li/Downloads/train.csv', sep=';')
df_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [29]:
df_test = pd.read_csv('/Users/yinghua.li/Downloads/test.csv', sep=';')
df_test.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [25]:
df = pd.concat([df_train, df_test], ignore_index=True)

In [30]:
df.to_csv('data/bank.csv',index=False,sep=',')

In [24]:
set(df_test['poutcome'])

{'failure', 'other', 'success', 'unknown'}

In [19]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [12]:
df.dtypes

Person_ID                    int64
AssessmentID                 int64
Case_ID                      int64
Agency_Text                 object
LastName                    object
FirstName                   object
MiddleName                  object
Sex_Code_Text               object
Ethnic_Code_Text            object
DateOfBirth                 object
ScaleSet_ID                  int64
ScaleSet                    object
AssessmentReason            object
Language                    object
LegalStatus                 object
CustodyStatus               object
MaritalStatus               object
Screening_Date              object
RecSupervisionLevel          int64
RecSupervisionLevelText     object
Scale_ID                     int64
DisplayText                 object
RawScore                   float64
DecileScore                  int64
ScoreText                   object
AssessmentType              object
IsCompleted                  int64
IsDeleted                    int64
dtype: object

In [18]:
dict(zip(set(df['income']), range(len(set(df['income'])))))

{'>50K': 0, '<=50K': 1}

In [19]:
dict(zip(set(df['workclass']), range(len(set(df['workclass'])))))

{'?': 0,
 'Federal-gov': 1,
 'State-gov': 2,
 'Self-emp-not-inc': 3,
 'Private': 4,
 'Local-gov': 5,
 'Without-pay': 6,
 'Never-worked': 7,
 'Self-emp-inc': 8}

In [21]:
dict(zip(set(df['education']), range(len(set(df['education'])))))

{'HS-grad': 0,
 'Assoc-acdm': 1,
 'Some-college': 2,
 '11th': 3,
 '1st-4th': 4,
 'Preschool': 5,
 'Bachelors': 6,
 '9th': 7,
 '5th-6th': 8,
 '7th-8th': 9,
 'Prof-school': 10,
 'Assoc-voc': 11,
 'Masters': 12,
 '12th': 13,
 'Doctorate': 14,
 '10th': 15}

In [22]:
dict(zip(set(df['marital-status']), range(len(set(df['marital-status'])))))

{'Married-AF-spouse': 0,
 'Widowed': 1,
 'Never-married': 2,
 'Married-spouse-absent': 3,
 'Separated': 4,
 'Divorced': 5,
 'Married-civ-spouse': 6}

In [23]:
dict(zip(set(df['occupation']), range(len(set(df['occupation'])))))

{'Priv-house-serv': 0,
 '?': 1,
 'Exec-managerial': 2,
 'Other-service': 3,
 'Protective-serv': 4,
 'Handlers-cleaners': 5,
 'Farming-fishing': 6,
 'Adm-clerical': 7,
 'Transport-moving': 8,
 'Craft-repair': 9,
 'Tech-support': 10,
 'Sales': 11,
 'Machine-op-inspct': 12,
 'Prof-specialty': 13,
 'Armed-Forces': 14}

In [24]:
dict(zip(set(df['relationship']), range(len(set(df['relationship'])))))

{'Husband': 0,
 'Not-in-family': 1,
 'Wife': 2,
 'Other-relative': 3,
 'Own-child': 4,
 'Unmarried': 5}

In [25]:
dict(zip(set(df['race']), range(len(set(df['race'])))))

{'Asian-Pac-Islander': 0,
 'Other': 1,
 'White': 2,
 'Black': 3,
 'Amer-Indian-Eskimo': 4}

In [26]:
dict(zip(set(df['gender']), range(len(set(df['gender'])))))

{'Male': 0, 'Female': 1}

In [27]:
dict(zip(set(df['native-country']), range(len(set(df['native-country'])))))

{'Hong': 0,
 'Mexico': 1,
 'Greece': 2,
 'Portugal': 3,
 'Poland': 4,
 'China': 5,
 'Thailand': 6,
 'Trinadad&Tobago': 7,
 'Laos': 8,
 'Haiti': 9,
 '?': 10,
 'Hungary': 11,
 'South': 12,
 'Scotland': 13,
 'Holand-Netherlands': 14,
 'Japan': 15,
 'Italy': 16,
 'Puerto-Rico': 17,
 'Guatemala': 18,
 'Canada': 19,
 'Vietnam': 20,
 'Cuba': 21,
 'England': 22,
 'Philippines': 23,
 'United-States': 24,
 'Yugoslavia': 25,
 'Honduras': 26,
 'Nicaragua': 27,
 'India': 28,
 'Germany': 29,
 'Outlying-US(Guam-USVI-etc)': 30,
 'Peru': 31,
 'Ecuador': 32,
 'Ireland': 33,
 'France': 34,
 'Dominican-Republic': 35,
 'Cambodia': 36,
 'El-Salvador': 37,
 'Columbia': 38,
 'Iran': 39,
 'Jamaica': 40,
 'Taiwan': 41}

In [17]:
set(df['income'])

{'<=50K', '>50K'}

In [ ]:
age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [28]:
a = ['a', 'b', 'c']
a.remove('b')

In [29]:
a

['a', 'c']

In [30]:
def t(a=1, b=2):
    print(a+b)

In [31]:
t(1,2)

3

In [36]:
t(**{'a': 10, 'b':20})

30