In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/adult.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [6]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [18]:
dict(zip(set(df['income']), range(len(set(df['income'])))))

{'>50K': 0, '<=50K': 1}

In [19]:
dict(zip(set(df['workclass']), range(len(set(df['workclass'])))))

{'?': 0,
 'Federal-gov': 1,
 'State-gov': 2,
 'Self-emp-not-inc': 3,
 'Private': 4,
 'Local-gov': 5,
 'Without-pay': 6,
 'Never-worked': 7,
 'Self-emp-inc': 8}

In [21]:
dict(zip(set(df['education']), range(len(set(df['education'])))))

{'HS-grad': 0,
 'Assoc-acdm': 1,
 'Some-college': 2,
 '11th': 3,
 '1st-4th': 4,
 'Preschool': 5,
 'Bachelors': 6,
 '9th': 7,
 '5th-6th': 8,
 '7th-8th': 9,
 'Prof-school': 10,
 'Assoc-voc': 11,
 'Masters': 12,
 '12th': 13,
 'Doctorate': 14,
 '10th': 15}

In [22]:
dict(zip(set(df['marital-status']), range(len(set(df['marital-status'])))))

{'Married-AF-spouse': 0,
 'Widowed': 1,
 'Never-married': 2,
 'Married-spouse-absent': 3,
 'Separated': 4,
 'Divorced': 5,
 'Married-civ-spouse': 6}

In [23]:
dict(zip(set(df['occupation']), range(len(set(df['occupation'])))))

{'Priv-house-serv': 0,
 '?': 1,
 'Exec-managerial': 2,
 'Other-service': 3,
 'Protective-serv': 4,
 'Handlers-cleaners': 5,
 'Farming-fishing': 6,
 'Adm-clerical': 7,
 'Transport-moving': 8,
 'Craft-repair': 9,
 'Tech-support': 10,
 'Sales': 11,
 'Machine-op-inspct': 12,
 'Prof-specialty': 13,
 'Armed-Forces': 14}

In [24]:
dict(zip(set(df['relationship']), range(len(set(df['relationship'])))))

{'Husband': 0,
 'Not-in-family': 1,
 'Wife': 2,
 'Other-relative': 3,
 'Own-child': 4,
 'Unmarried': 5}

In [25]:
dict(zip(set(df['race']), range(len(set(df['race'])))))

{'Asian-Pac-Islander': 0,
 'Other': 1,
 'White': 2,
 'Black': 3,
 'Amer-Indian-Eskimo': 4}

In [26]:
dict(zip(set(df['gender']), range(len(set(df['gender'])))))

{'Male': 0, 'Female': 1}

In [27]:
dict(zip(set(df['native-country']), range(len(set(df['native-country'])))))

{'Hong': 0,
 'Mexico': 1,
 'Greece': 2,
 'Portugal': 3,
 'Poland': 4,
 'China': 5,
 'Thailand': 6,
 'Trinadad&Tobago': 7,
 'Laos': 8,
 'Haiti': 9,
 '?': 10,
 'Hungary': 11,
 'South': 12,
 'Scotland': 13,
 'Holand-Netherlands': 14,
 'Japan': 15,
 'Italy': 16,
 'Puerto-Rico': 17,
 'Guatemala': 18,
 'Canada': 19,
 'Vietnam': 20,
 'Cuba': 21,
 'England': 22,
 'Philippines': 23,
 'United-States': 24,
 'Yugoslavia': 25,
 'Honduras': 26,
 'Nicaragua': 27,
 'India': 28,
 'Germany': 29,
 'Outlying-US(Guam-USVI-etc)': 30,
 'Peru': 31,
 'Ecuador': 32,
 'Ireland': 33,
 'France': 34,
 'Dominican-Republic': 35,
 'Cambodia': 36,
 'El-Salvador': 37,
 'Columbia': 38,
 'Iran': 39,
 'Jamaica': 40,
 'Taiwan': 41}

In [17]:
set(df['income'])

{'<=50K', '>50K'}

In [ ]:
age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [28]:
a = ['a', 'b', 'c']
a.remove('b')

In [29]:
a

['a', 'c']